
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #282c34;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  left: 40%;
  width: 600px;
  height: 400px;
  background: #282c34;


}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
  color: white;
  opacity: 0.7;
}

.select, textarea, input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  background-color: #282c34;
  color:white;
  opacity:0.5;
}

.select:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #4287f5;
  color: #4287f5;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #4287f5;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

////////////////////////////////////////////////

img{
    width: 55px;
    height: 55px;
    display: inline;
}

.header{
    padding: 30px 30px 30px;
    -webkit-animation: flickerAnimation 4s infinite;
       -moz-animation: flickerAnimation 4s infinite;
       -o-animation: flickerAnimation 4s infinite;
        animation: flickerAnimation 4s infinite;
}

.header img {
  float: left;
  width: 80px;
  height: 80px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  color: #4287f5;
  font-size: 45px;
  font-family: "Optima";
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.3; }
  100% { opacity:1; }
}