@charset "ISO-8859-1";

/* Move down content because we have a fixed navbar that is 3.5rem tall */
.jumbotron {
  padding-top: 3.5rem;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 300px !important;
}

.bootstrap-select .dropdown-toggle:before {
    height: 21px !important;
}