body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
	display-block;
    padding: 3%;
    margin-top: 10%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}

.App-logo{
	padding-left: 28%;
}