@charset "ISO-8859-1";

/* Move down content because we have a fixed navbar that is 3.5rem tall */
.jumbotron {
  padding-top: 3.5rem;
}

table{
    width: 650px !important;
    margin: 0 30px 0 ;
}

.info{
    position: absolute;
    left: 700px;
    bottom: 270px;
    text-align: right;
}

label, p {
    font-size: 18px !important;
    position: right;
}

html, body{
    background: #141415;
}

.email:hover{
    cursor: pointer;
}
